# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.opensdf
*.sdf

# Unreal Engine
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
